<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zone.pusu.product.dao.IProductDao">
    <insert id="insert">
        INSERT INTO Product(
            id,
            name,
            big_decimal,
            a_boolean_wrap,
            bytes,
            date,
            an_int,
            a_boolean,
            ef
        )
        VALUES (
            #{id,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR},
            #{bigDecimal,jdbcType=DECIMAL},
            #{aBooleanWrap,jdbcType=BIT},
            #{bytes,jdbcType=BLOB},
            #{date,jdbcType=DATE},
            #{anInt,jdbcType=INTEGER},
            #{aBoolean,jdbcType=BIT},
            #{ef,jdbcType=CHAR}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO Product(
           id,
           name,
           big_decimal,
           a_boolean_wrap,
           bytes,
           date,
           an_int,
           a_boolean,
           ef
        )
        VALUES
        <foreach collection="coll" item="item" separator=",">
        (
           #{id,jdbcType=VARCHAR},
           #{name,jdbcType=VARCHAR},
           #{bigDecimal,jdbcType=DECIMAL},
           #{aBooleanWrap,jdbcType=BIT},
           #{bytes,jdbcType=BLOB},
           #{date,jdbcType=DATE},
           #{anInt,jdbcType=INTEGER},
           #{aBoolean,jdbcType=BIT},
           #{ef,jdbcType=CHAR}
        )
        </foreach>
    </insert>

    <update id="update">
        UPDATE Product
        <set>
            name = #{field.name},
            big_decimal = #{field.name},
            a_boolean_wrap = #{field.name},
            bytes = #{field.name},
            date = #{field.name},
            an_int = #{field.name},
            a_boolean = #{field.name},
            ef = #{field.name}
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE Product WHERE id = #{id}
    </delete>

    <select id="get" resultMap="resultMap">
        SELECT * FROM Product
        WHERE id = #{id}
    </select>

    <select id="getList" resultMap="resultMap">
        SELECT * FROM Product
        <include refid="where"></include>
        <include refid="order"></include>
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM Product
        <include refid="where"></include>
        <include refid="order"></include>
    </select>

    <resultMap id="resultMap" type="zone.pusu.product.Product">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="bigDecimal" column="big_decimal" jdbcType="DECIMAL"/>
        <result property="aBooleanWrap" column="a_boolean_wrap" jdbcType="BIT"/>
        <result property="bytes" column="bytes" jdbcType="BLOB"/>
        <result property="date" column="date" jdbcType="DATE"/>
        <result property="anInt" column="an_int" jdbcType="INTEGER"/>
        <result property="aBoolean" column="a_boolean" jdbcType="BIT"/>
        <result property="ef" column="ef" jdbcType="CHAR"/>
    </resultMap>

    <sql id="where">
        <trim prefix="WHERE" prefixOverrides="and |or ">
            <!-- id -->
            <if test="id != null">
                AND id like #{id}
            </if>
            <if test="id_array != null">
                AND id IN
                <foreach collection="id_array" item="value" open="(" separator="," close=")">#{value,jdbcType=VARCHAR}
                </foreach>
            </if>
            <!-- name -->
            <if test="name != null">
                AND name like #{name}
            </if>
            <if test="name_array != null">
                AND name IN
                <foreach collection="name_array" item="value" open="(" separator="," close=")">#{value,jdbcType=VARCHAR}
                </foreach>
            </if>
            <!-- bigDecimal -->
             <if test="bigDecimal != null">
                AND bigDecimal like #{bigDecimal}
             </if>
             <if test="bigDecimal_range != null">
                 AND bigDecimal <![CDATA[ >= ]]> #{field.bigDecimal_range.start} AND bigDecimal <![CDATA[ <= ]]>  #{field.bigDecimal_range.end}
             </if>
            <!-- aBooleanWrap -->
            <if test="aBooleanWrap != null">
                AND aBooleanWrap like #{aBooleanWrap}
            </if>
            <!-- bytes -->
            <!-- date -->
             <if test="date != null">
                AND date like #{date}
             </if>
             <if test="date_range != null">
                 AND date <![CDATA[ >= ]]> #{field.date_range.start} AND date <![CDATA[ <= ]]>  #{field.date_range.end}
             </if>
            <!-- anInt -->
             <if test="anInt != null">
                AND anInt like #{anInt}
             </if>
             <if test="anInt_range != null">
                 AND anInt <![CDATA[ >= ]]> #{field.anInt_range.start} AND anInt <![CDATA[ <= ]]>  #{field.anInt_range.end}
             </if>
            <!-- aBoolean -->
            <if test="aBoolean != null">
                AND aBoolean like #{aBoolean}
            </if>
            <!-- ef -->
            <if test="ef != null">
                AND ef like #{ef}
            </if>
            <if test="ef_array != null">
                AND ef IN
                <foreach collection="ef_array" item="value" open="(" separator="," close=")">#{value,jdbcType=CHAR}
                </foreach>
            </if>
        </trim>
    </sql>

    <sql id="order">
        <trim prefix="ORDER BY">
            <if test="order_array != null">
                <foreach collection="order_array" item="value" separator=",">
                    <!-- id -->
                    <if test="value == 'id_asc'">id</if>
                    <if test="value == 'id_desc'">id DESC</if>
                    <!-- name -->
                    <if test="value == 'name_asc'">name</if>
                    <if test="value == 'name_desc'">name DESC</if>
                    <!-- bigDecimal -->
                    <if test="value == 'bigDecimal_asc'">big_decimal</if>
                    <if test="value == 'bigDecimal_desc'">big_decimal DESC</if>
                    <!-- aBooleanWrap -->
                    <if test="value == 'aBooleanWrap_asc'">a_boolean_wrap</if>
                    <if test="value == 'aBooleanWrap_desc'">a_boolean_wrap DESC</if>
                    <!-- date -->
                    <if test="value == 'date_asc'">date</if>
                    <if test="value == 'date_desc'">date DESC</if>
                    <!-- anInt -->
                    <if test="value == 'anInt_asc'">an_int</if>
                    <if test="value == 'anInt_desc'">an_int DESC</if>
                    <!-- aBoolean -->
                    <if test="value == 'aBoolean_asc'">a_boolean</if>
                    <if test="value == 'aBoolean_desc'">a_boolean DESC</if>
                    <!-- ef -->
                    <if test="value == 'ef_asc'">ef</if>
                    <if test="value == 'ef_desc'">ef DESC</if>
                </foreach>
            </if>
        </trim>
    </sql>
</mapper>

