<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zone.pusu.product.dao.IProductDao">
    <insert id="insert">
        INSERT INTO Product(
            id,
            name,
            code,
            weight,
            place_of_production,
            price
        )
        VALUES (
            #{id,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR},
            #{code,jdbcType=VARCHAR},
            #{weight,jdbcType=DECIMAL},
            #{placeOfProduction,jdbcType=VARCHAR},
            #{price,jdbcType=DECIMAL}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO Product(
            id,
            name,
            code,
            weight,
            place_of_production,
            price
        )
        VALUES
        <foreach collection="coll" item="item" separator=",">
            (
                #{id,jdbcType=VARCHAR},
                #{name,jdbcType=VARCHAR},
                #{code,jdbcType=VARCHAR},
                #{weight,jdbcType=DECIMAL},
                #{placeOfProduction,jdbcType=VARCHAR},
                #{price,jdbcType=DECIMAL}
            )
        </foreach>
    </insert>

    <update id="update">
        UPDATE Product
        <set>
            name = #{field.name},
            code = #{field.name},
            weight = #{field.name},
            place_of_production = #{field.name},
            price = #{field.name}
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE Product WHERE id = #{id}
    </delete>

    <select id="get" resultMap="resultMap">
        SELECT * FROM Product
        WHERE id = #{id}
    </select>

    <select id="getList" resultMap="resultMap">
        SELECT * FROM Product
        <include refid="where"></include>
        <include refid="order"></include>
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM Product
        <include refid="where"></include>
        <include refid="order"></include>
    </select>

    <resultMap id="resultMap" type="zone.pusu.product.Product">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="weight" column="weight" jdbcType="DECIMAL"/>
        <result property="placeOfProduction" column="place_of_production" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="where">
        <trim prefix="WHERE" prefixOverrides="and |or ">
            <!-- id -->
            <if test="id != null">
                AND id like #{id}
            </if>
            <if test="id_array != null">
                AND id IN
                <foreach collection="id_array" item="value" open="(" separator="," close=")">#{value,jdbcType=VARCHAR}
                </foreach>
            </if>
            <!-- name -->
            <if test="name != null">
                AND name like #{name}
            </if>
            <if test="name_array != null">
                AND name IN
                <foreach collection="name_array" item="value" open="(" separator="," close=")">#{value,jdbcType=VARCHAR}
                </foreach>
            </if>
            <!-- code -->
            <if test="code != null">
                AND code like #{code}
            </if>
            <if test="code_array != null">
                AND code IN
                <foreach collection="code_array" item="value" open="(" separator="," close=")">#{value,jdbcType=VARCHAR}
                </foreach>
            </if>
            <!-- weight -->
            <if test="weight != null">
                AND weight like #{weight}
            </if>
            <if test="weight_range != null">
                AND weight <![CDATA[ >= ]]> #{field.weight_range.start} AND weight <![CDATA[ <= ]]>  #{field.weight_range.end}
            </if>
            <!-- placeOfProduction -->
            <if test="placeOfProduction != null">
                AND place_of_production like #{placeOfProduction}
            </if>
            <if test="placeOfProduction_array != null">
                AND place_of_production IN
                <foreach collection="placeOfProduction_array" item="value" open="(" separator="," close=")">#{value,jdbcType=VARCHAR}
                </foreach>
            </if>
            <!-- price -->
            <if test="price != null">
                AND price like #{price}
            </if>
            <if test="price_range != null">
                AND price <![CDATA[ >= ]]> #{field.price_range.start} AND price <![CDATA[ <= ]]>  #{field.price_range.end}
            </if>
        </trim>
    </sql>

    <sql id="order">
        <trim prefix="ORDER BY">
            <if test="order_array != null">
                <foreach collection="order_array" item="value" separator=",">
                    <!-- id -->
                    <if test="value == 'id_asc'">id</if>
                    <if test="value == 'id_desc'">id DESC</if>
                    <!-- name -->
                    <if test="value == 'name_asc'">name</if>
                    <if test="value == 'name_desc'">name DESC</if>
                    <!-- code -->
                    <if test="value == 'code_asc'">code</if>
                    <if test="value == 'code_desc'">code DESC</if>
                    <!-- weight -->
                    <if test="value == 'weight_asc'">weight</if>
                    <if test="value == 'weight_desc'">weight DESC</if>
                    <!-- placeOfProduction -->
                    <if test="value == 'placeOfProduction_asc'">place_of_production</if>
                    <if test="value == 'placeOfProduction_desc'">place_of_production DESC</if>
                    <!-- price -->
                    <if test="value == 'price_asc'">price</if>
                    <if test="value == 'price_desc'">price DESC</if>
                </foreach>
            </if>
        </trim>
    </sql>
</mapper>


